* {
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 1200px;
  margin: 0px auto;
  border: 1px solid black;
}

/* shared style */

.font-1 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.font-2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.color-1 {
  color: #252432;
}

.color-2 {
  color: #8987a1;
}

.color-3 {
  color: #e95a08;
}

/* header style */
header {
  margin-bottom: 100px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin-top: 40px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 40px;
}
nav ul .cart {
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #252432;
  font-size: 1rem;
}
header .banner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 100px;
}
header .banner div {
  width: 570px;
}
header .banner div h1 {
  font-size: 4rem;
  font-weight: 700px;
}
header .banner div p {
  font-size: 1.4rem;
  margin-top: 10px;
}

/* main section style */

/* products section */
main .products {
  margin-bottom: 150px;
}
.products .products-heading {
  text-align: center;
}
.products .products-heading h3 {
  font-size: 3rem;
  font-weight: 700px;
}
.products .products-heading p {
  max-width: 890px;
  font-size: 1.4rem;
  margin: 0px auto;
}

.products .products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  margin-top: 40px;
}

.products .products-container .product {
  max-width: 270px;
}
.products .products-container .product .product-description {
  text-align: center;
  line-height: 2.4rem;
}
.products .products-container .product .product-description p {
  font-size: 1.4rem;
  font-weight: 600px;
}
.products .products-container .product .product-description h4 {
  font-size: 1.4rem;
  font-weight: 700px;
}
.products .products-container .product .product-description button {
  width: 100%;
  padding: 15px 0px;
  background-color: #e95a08;
  font-size: 1rem;
  font-weight: 400px;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 667px) {
  body {
    max-width: 360px;
  }
  header nav {
    margin-top: 10px;
  }
  header nav img {
    width: 65px;
    height: 40px;
  }

  nav ul .home,
  .shop,
  .about {
    display: none;
  }
  nav ul li {
    margin-left: 0px;
  }

  header .banner {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  header .banner div {
    width: 100%;
    margin-top: 15px;
  }
  header .banner div h1 {
    font-size: 1.5rem;
  }
  header .banner div p {
    font-size: 0.8rem;
  }
  header .banner img {
    width: 100%;
  }
  /* products section */
  .products {
    margin-top: -50px;
  }
  .products .products-heading h3 {
    font-size: 1.5rem;
  }
  .products .products-heading p {
    max-width: 340px;
    font-size: 0.8rem;
  }
  .products .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .products .products-container .product {
    max-width: 170px;
  }
  .products .products-container .product img {
    width: 100%;
  }
  .products .products-container .product .product-description p {
    font-size: 1rem;
  }
  .products .products-container .product .product-description h4 {
    font-size: 1rem;
  }
}
